.DS_Store
*target*
*.versionsBackup
.project
.classpath
bin
.settings
*.log

**/.DS_Store
**/*.versionsBackup
**/.project
**/.classpath
**/bin
**/.settings
**/*.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
